knn_classify.py
good.txt
.DS_Store
__pycache__/
ai/__pycache__/
www/www/__pycache__/
www/projectApp/__pycache__/
www/projectApp/migrations/__pycache__/
ai/models/_tmp.pth
ai/models/4-17-BODMAS-new_goodware.pkl
ai/models/4-8-entire_bodmas-pretrained-epoch_50-bs_32.pkl
ai/models/4-9-22-resnet50-train2-not_pretrained-epoch_50-bs-32.pkl
ai/models/cats-epoch_10-bs_32.pkl
ai/models/cat_dog.pkl
ai/models/cat_dog_new.pkl
secret.json
*.png